<div class="flex-shrink-0 p-3 bg-black  " style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a href="{{ path('admin_index') }}" class="btn" >Dashboard</a>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Products
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mx-4">
                    <li><a href="{{ path('admin_product_mercurial_import') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Mercurial Import</a></li>
                    <li><a href="{{ path('admin_product_mercurial_import') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Mercurial Import</a></li>
                    <li><a href="{{ path('admin_product_mercurial_import') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Mercurial Import</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
    </ul>
</div>
