<header class="d-flex justify-content-center py-3 mb-3">
    <nav data-controller="nav">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ path('website_home') }}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="{{ path('website_product_list') }}" class="nav-link">Products</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </nav>
</header>
