<turbo-stream action="replace" target="mercurial_import_form_container">
    <template>
        <p class="alert alert-success" role="alert">The submitted file for <strong>{{ supplier.name }}</strong> has been added to the treatment queue.</p>
        <a href="{{ path('admin_product_mercurial_import') }}" class="btn btn-secondary">Add another one.</a>
    </template>
</turbo-stream>
