{% extends 'website/pages/home.html.twig' %}

{% block body %}
    <h2 class="card-title mb-3">Products</h2>
    <div class="row mb-3">
        {% include 'website/components/search/search.html.twig' %}
    </div>
    <turboframe id="product_list_items">
        {% if 0 == products.count() %}
            No product found.
        {% else %}
            {{ products.count() }} product(s) found
        {% endif %}
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-xl-3 align-items-stretch">
            {% for product in products %}
                {% include 'website/components/product/product_card.html.twig' with { 'product' : product } %}
            {% endfor %}
        </div>
        {% embed 'website/components/nav/paginator.html.twig' %}
            {% set items_count = products.count() %}
        {% endembed %}
    </turboframe>
{% endblock %}
